/* Global styles */
body{
background: url(background.png)  #5C5C5C;	
background-repeat: repeat-x;
	}
.locale {
float: right;
margin: -0.25em 0.1em;
}

#store .entry form, #store .entry form div {
display: inline;
}

#store #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}


#store h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}

/* Styles for products/index */

#product_list table {
        border-collapse: collapse;
}

#product_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#product_list .list_image {
  width:        60px;
  height:       70px;
}

#product_list .list_description {
  width:        60%;
}

#product_list .list_description dl {
        margin: 0;
}

#product_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#product_list .list_description dd {
        margin: 0;
}

#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background:   #e0f8f8;
}

#product_list .list_line_odd {
  background:   #f8b0f8;
}

/* START:mainlayout */
/* Styles for main page */

#banner {
  background: url("website_container.png") repeat-y scroll 0 0 transparent;
  
    color: #000000;
    font: small-caps 40px/40px "Times New Roman",serif;
    height: 120px;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 1040px;
}

#banner img {
  float: left;
  margin-top: -20px;
}
form.locale{
	margin-right: 60px;
	}
#banner h3{
	color: #fff;
	float: right;
	padding-right: 150px;
	font-size: 20px;

font-style: italic;
font-weight: normal;
font-variant: normal;}	
	
	
#nav{
width: 1040px;
margin: 0 auto;
height: 20px;	
background: url("website_container.png") repeat-y scroll 0 0 transparent;
	}
#nav ul a{text-align: center;color:#fff;text-decoration: none;text-align: center;}
#nav ul li{
	
	float:left;
	text-align: center;
	list-style: none;
	margin-right: 50px;
	padding-left: 10px;
	padding-right: 10px;}


#nav ul li a:hover{font-size: 16px;color: #660000;font-weight: bolder;}
#nav ul li a:active{font-size: 16px;color: #660000;font-weight: bolder;}


#columns {
	background: url("website_container.png") repeat-y scroll 0 0 transparent;
	border-radius:20px;
	padding: 10px 30px;
  
  width: 980px;
  min-height: 1100px;
  height: auto;
  margin:10px auto;
}

#main {
  width: 650px;
  float: left;
  min-height: 1100px;
  margin-left: 10px;
  padding-left: 20px;
  background-color: #fff;
  margin-top: -14px;
}
#main h1{
	background-color: #333;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 10px;}
#side {
  float: right;
  width: 279px;
  margin-right: 21px;
  background-color: #fff;
  min-height: 1100px;
 margin-top: -14px;
color:#333;
}

#side a {
  color: #333;
  font-size: small;
}
#footer{
	color: #999;
	font-size: 12px;
	width: 960px;
	margin: 10px auto;
	height: 50px;
	text-align: center;}
	
	
	.cart_title{margin-top: 25px;
		background-color: #333;
		font-size: 18px;
		color: #fff;
		padding: 5px;
		border-radius:10px;
		margin-bottom: 10px;}
	td {
    padding: 5px;
    font-size: 12px;
    border-bottom: 1px dotted #333;
}
input[type='submit']{
	background-color: #333;
	border-radius:10px;
	
	color: #fff;
	float: left;
	padding: 5px;
	cursor:pointer;}
	.entry{
		font-size: 14px;
		color: #333;
			position: relative;
		margin-bottom: 50px;
		text-align: justify;}
		.entry img{
			height: 100px;
			width: 100px;
			float: left;
			margin-right: 20px;
			border-radius:10px;}
.price_line{
	height: 30px;
	width: 600px;
	}
	.price_line span{
		
	border-radius:10px;
	width:120px;
	color: green;
	float: left;
	padding: 10px;}
	.add {
    height: 500px;
    padding-left: 50px;
    width: 300px;
   
}
.add h2{
	background-color: #333;
	color: #fff;
	padding: 10px;
	border-radius:10px;
	margin-right: 30px;
	font-size: 17px;}
	.add img{
		width: 270px;
		
		}
		#cart{
			padding-left: 30px;
			margin-bottom: 50px;}
		.add ul li a{
			color:#333}
		.pagination ul li{
			float:left;
			list-style: none;
			padding: 4px;}
			.pagination li.previous_page a {
    text-decoration: none !important;
}
	.pagination li.next a {
    text-decoration: none !important;
}
.pagination ul li.active a {
    color: Red;
    font-size: 20px;
}


